/* ==================================================================

*   Intima Media Queries

TOC : 

1. screenwidth less than 1024px (Medium Screen/Large Tablets)
2. screenwidth less than 900px (Tablets)
3. screenwidth less than 767px (Mobile wide/Smaller Tablets)
4. screenwidth less than 480px (Small Screen Mobile)


/* ================================================================== */


/* screenwidth less than 1024px
--------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1600px) {
    /* header styles
   ------------------------------------------------------------------ */
    header .banner-text h1 {
        font: 80px/1.1em 'Open Sans', sans-serif;
        letter-spacing: -1px;
        margin: 0 auto 12px auto;
    }
    #about .download {
        float: none;
        margin-top: 0;
        padding: 10px;
        width: 100%;
    }
    #about .bio-left {
        min-height: 600px;
        height: auto;
        padding: 60px 30px;
    }
    #about .main-col {
        min-height: 600px;
        padding: 20px;
        height: auto;
    }
}


/* screenwidth less than 900px
--------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
    /* header styles
   ------------------------------------------------------------------ */
    header .banner {
        padding-bottom: 12px;
    }
    header .banner-text h1 {
        font: 78px/1.1em 'Open Sans', sans-serif;
        letter-spacing: -1px;
    }
    header .banner-text h3 {
        font: 17px/1.9em 'Raleway', serif;
        width: 80%;
    }
    header .banner-text hr {
        width: 65%;
        margin: 12px auto;
    }
    /* m-nav */
    #m-nav {
        font: 11px 'Open Sans', sans-serif;
        letter-spacing: 1.5px;
    }
    /* Resume Section
   ------------------------------------------------------------------- */
    #resume h1 {
        font: 16px/24px 'Open Sans', sans-serif;
    }
    #resume .main-col {
        padding-right: 5%;
    }
    /* Testimonials Section
   ------------------------------------------------------------------- */
    #testimonials .header-col h1:before {
        font-size: 66px;
        line-height: 66px;
    }
    #testimonials blockquote p {
        font-size: 22px;
        line-height: 46px;
    }
    /* Call to Action Section
   ------------------------------------------------------------------- */
    #call-to-action .header-col h1:before {
        font-size: 66px;
        line-height: 66px;
    }
    /* Contact Section
   ------------------------------------------------------------------- */
    #contact .section-head {
        margin-bottom: 30px;
    }
    #contact .header-col h1:before {
        font-size: 66px;
        line-height: 66px;
    }
    #contact .section-head p.lead {
        font: 17px/33px opensans-light, sans-serif;
    }
}


/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
    /* mobile navigation
   -------------------------------------------------------------------- */
    #m-nav {
        font: 12px 'Open Sans', sans-serif;
        background: transparent !important;
        letter-spacing: 1.5px;
        width: auto;
        position: fixed;
        top: 0;
        right: 0;
    }
    #m-nav>a {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
        border: medium none;
        color: transparent;
        font: 0px/0 a;
        height: 48px;
        position: relative;
        text-align: left;
        text-shadow: none;
        top: 10px;
        width: 48px;
        margin: 0 auto;
    }
    ul#nav li.current a {
        border: medium none;
    }
    #m-nav>a:before,
    #m-nav>a:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }
    #m-nav>a:after {
        top: 60%;
    }
    /* toggle buttons */
    #m-nav:not( :target)>a:first-of-type,
    #m-nav:target>a:last-of-type {
        display: block;
    }
    /* hide menu panel */
    #m-nav ul#nav {
        height: auto;
        display: none;
        clear: both;
        width: auto;
        position: relative;
        top: 12px;
        right: 0;
    }
    /* display menu panels */
    #m-nav:target>ul#nav {
        display: block;
        padding: 30px 20px 48px 20px;
        background: #1f2024;
        margin: 0 30px;
        clear: both;
    }
    ul#nav li {
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 0 4%;
        text-align: left;
        border-bottom: 1px solid #2D2E34;
        border-bottom-style: dotted;
    }
    ul#nav li a {
        display: block;
        margin: 0;
        padding: 0;
        margin: 12px 0;
        line-height: 16px;
        /* reset line-height from 48px */
        border: none;
    }
    ul#nav li a:hover {
        border-bottom: none;
    }
    #about .button {
        display: block;
    }
    /* Header Styles
   -------------------------------------------------------------------- */
    header .banner {
        padding-bottom: 12px;
        padding-top: 6px;
    }
    header .banner-text h1 {
        font: 68px/1.1em 'Open Sans', sans-serif;
    }
    header .banner-text h3 {
        font: 16px/1.9em 'Raleway', serif;
        width: 85%;
    }
    header .banner-text hr {
        width: 80%;
        margin: 18px auto;
    }
    /* header social links */
    header .social {
        margin: 18px 0 24px 0;
        font-size: 24px;
        line-height: 36px;
    }
    header .social li {
        margin: 0 10px;
    }
    /* scrolldown link */
    header .scrolldown {
        display: none;
    }
    /* About Section
   -------------------------------------------------------------------- */
    #about {
        text-align: center;
    }
    #about .profile-pic {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    #about .download .button {
        width: 100%;
        text-align: center;
        padding: 15px 20px;
    }
    #about h2 {
        margin-top: 20px;
    }
    #about .bio-left {
        height: auto;
        padding: 60px 30px;
    }
    #about .main-col {
        padding: 20px;
        height: auto;
    }
    #about .pp-container {
        padding: 0;
    }
    /* Resume Section
   --------------------------------------------------------------------- */
    #resume .header-col {
        padding-top: 0;
        margin-bottom: 48px;
        text-align: center;
    }
    #resume h1 {
        letter-spacing: 3px;
    }
    #resume .main-col {
        padding-right: 30px;
    }
    #resume .info {
        text-align: center;
    }
    .bars {
        width: 100%;
    }
    /* Call To Action Section
   /* ----------------------------------------------------------------- */
    #call-to-action {
        padding-bottom: 30px;
        padding-top: 20px;
        text-align: center;
    }
    #call-to-action h1 {
        font: 16px/24px 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 30px;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
    }
    #call-to-action h1 span {
        display: none;
    }
    #call-to-action p {
        font-size: 15px;
    }
    /* Portfolio Section
   /* ----------------------------------------------------------------- */
    #portfolio-wrapper .columns {
        margin-bottom: 40px;
    }
    .popup-modal {
        max-width: 85%;
    }
    /* Testimonials Section
   ----------------------------------------------------------------------- */
    #testimonials .text-container {
        text-align: center;
    }
    #testimonials h1 {
        font: 16px/24px 'Open Sans', sans-serif;
        text-align: center;
    }
    #testimonials h1 span {
        display: block;
    }
    #testimonials .header-col h1:before {
        content: none;
    }
    #testimonials blockquote {
        padding-bottom: 24px;
    }
    #testimonials blockquote p {
        font-size: 14px;
        line-height: 24px;
    }
    #testimonials h1 {
        padding: 36px 0 24;
    }
    #testimonials .text-container {
        padding-bottom: 30px;
        padding-top: 10px;
    }
    /* contact Section
   ----------------------------------------------------------------------- */
    #contact .section-head {
        margin-bottom: 12px;
    }
    #contact .section-head h1 {
        font: 16px/24px 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 30px;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
    }
    #contact h1 span {
        display: block;
    }
    #contact .header-col {
        padding-top: 0;
    }
    #contact .header-col h1:before {
        content: none;
    }
    #contact .section-head p.lead {
        text-align: center;
    }
    /* form */
    #contact label {
        float: none;
        width: 100%;
    }
    #contact input,
    #contact textarea,
    #contact select {
        margin-bottom: 6px;
        width: 100%;
    }
    #contact button.submit {
        margin: 30px 0 24px 0;
    }
    #message-warning,
    #message-success {
        width: 100%;
        margin-left: 0;
    }
    /* footer
   ------------------------------------------------------------------------ */
    /* copyright */
    footer .copyright li:before {
        content: none;
    }
    footer .copyright li {
        margin-right: 12px;
    }
    /* social links */
    footer .social-links {
        font-size: 22px;
    }
    footer .social-links li {
        margin-left: 18px;
    }
    /* Go To Top Button */
    #go-top {
        margin-left: -22px;
    }
    #go-top a {
        width: 54px;
        height: 54px;
        font-size: 18px;
        line-height: 54px;
    }
}


/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
    .section-title {
        font-size: 16px;
        line-height: 24px;
        width: 260px!important;
    }
    /* mobile navigation
   -------------------------------------------------------------------- */
    #m-nav ul#nav {
        width: auto;
        float: none;
    }
    /* header styles
   -------------------------------------------------------------------- */
    header .banner {
        padding-top: 24px;
    }
    header .banner-text h1 {
        font: 40px/1.1em 'Open Sans', sans-serif;
        margin: 0 auto 24px auto;
    }
    header .banner-text h3 {
        font: 14px/1.9em 'Raleway', sans-serif;
        width: 90%;
    }
    /* header social links */
    header .social {
        font-size: 20px;
    }
    header .social li {
        margin: 0 6px;
    }
    /* About
  ------------------------------------------------------------------------ */
    #social {
        height: 80px;
        width: 100%;
    }
    .social-container {
        width: 100%;
    }
    .social-container .social {
        font-size: 20px;
    }
    .social-container .social li {
        margin: 0 8px;
    }
    #about p:first-child:first-letter {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #cbcbcb;
        float: none;
        font-size: inherit;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    /* Resume
   ------------------------------------------------------------------------ */
    .timeline:before {
        position: absolute;
        top: 0;
        left: 0;
    }
    .timeline-event-icon {
        margin: 10px 8px 8px -40px;
    }
    .timeline-event-copy {
        left: 10px;
        width: 95%;
        padding: 25px 32px 0;
    }
    .award-list ul li {
        text-align: center;
        background: #ecf0f1;
        padding: 15px 5px;
    }
    .award-list ul li span i {
        display: block;
        float: none!important;
        margin: 0 auto!important;
    }
    #call-to-action h2 {
        font: 700 24px/36px "Open Sans", sans-serif;
    }
    /* footer
   ------------------------------------------------------------------------ */
    #map {
        width: 100%;
        height: 300px;
    }
    /* social links */
    footer .social-links {
        font-size: 20px;
    }
    footer .social-links li {
        margin-left: 14px;
    }
}